In [5]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\hp\anaconda3\lib\site-packages (1.1.2)

In [6]:
import numpy as np
import pandas as pd
from apyori import apriori

In [11]:
#load dataset
store_data = pd.read_excel('Employee_Data.xls')

In [12]:
print(store_data)

    Employee Id First Name   Last Name                Department   Age  \
0             1     Camden      Savage          Asset Management  38.0
1             2    Justina   Mcconnell          Customer Service  26.0
2             3    Stewart        Moon           Human Resources   NaN
3             4     Tobias    Fletcher          Public Relations   NaN
4             5       Raja        Sims          Customer Service   NaN
..          ...        ...         ...                       ...   ...
95           96      Nerea       Haney              Tech Support  52.0
96           97     Nadine      Franks        Customer Relations  52.0
97           98     Aquila    Jacobson         Quality Assurance  30.0
98           99       Wang       Doyle  Research and Development  32.0
99          100       Beau  Richardson         Quality Assurance  46.0

    Experience  Salary
0         23.0   46975
1         10.0   30711
2         14.0   25049
3         12.0   33309
4         13.0   25274
..         ...     ...
95        16.0   17756
96         3.0   31886
97         5.0   39812
98        27.0   30742
99        24.0   30128

[100 rows x 7 columns]

In [13]:
#find shape of dataset
store_data.shape

(100, 7)

In [14]:
records=[]
for i in range(0,22):
  records.append([str(store_data.values[i,j]) for j in range(0,6)])

In [15]:
records

[['1', 'Camden', 'Savage', 'Asset Management', '38.0', '23.0'],
 ['2', 'Justina', 'Mcconnell', 'Customer Service', '26.0', '10.0'],
 ['3', 'Stewart', 'Moon', 'Human Resources', 'nan', '14.0'],
 ['4', 'Tobias', 'Fletcher', 'Public Relations', 'nan', '12.0'],
 ['5', 'Raja', 'Sims', 'Customer Service', 'nan', '13.0'],
 ['6', 'Kirsten', 'Douglas', 'Advertising', 'nan', '9.0'],
 ['7', 'Kylee', 'Lindsay', 'Research and Development', 'nan', '24.0'],
 ['8', 'Deborah', 'Price', 'Asset Management', 'nan', '2.0'],
 ['9', 'Imogene', 'Ochoa', 'Legal Department', '40.0', '30.0'],
 ['10', 'Justin', 'Keith', 'Advertising', '24.0', '23.0'],
 ['11', 'Daniel', 'Hughes', 'Legal Department', '35.0', '3.0'],
 ['12', 'Josephine', 'Kirk', 'nan', '31.0', 'nan'],
 ['13', 'Linus', 'Mendez', 'nan', '58.0', 'nan'],
 ['14', 'Paloma', 'Ryan', 'nan', '51.0', 'nan'],
 ['15', 'Colin', 'Boyd', 'nan', '27.0', 'nan'],
 ['16', 'Linda', 'Burke', 'nan', '54.0', 'nan'],
 ['17', 'Sarah', 'Page', 'nan', '55.0', 'nan'],
 ['18', 'Casey', 'Parks', 'Media Relations', '58.0', 'nan'],
 ['19', 'Blair', 'Skinner', 'Research and Development', '59.0', 'nan'],
 ['20', 'Melinda', 'Bray', 'Media Relations', '45.0', '4.0'],
 ['21', 'Roary', 'Gomez', 'Sales and Marketing', '50.0', '2.0'],
 ['22', 'Devin', 'Silva', 'Advertising', '55.0', '19.0']]

In [16]:
association_rules = apriori(records, min_support=0.50, min_confidence=0.7, min_lift=1.2, min_length=2)
association_results = list(association_rules)

In [17]:
print(len(association_results))

0

In [18]:
print(association_results)

[]

In [19]:
store_data = pd.read_csv("IRIS.csv")

In [20]:
print(store_data)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [21]:
#find shape of dataset
store_data.shape

(150, 5)

In [24]:
records=[]
for i in range(0,22):
  records.append([str(store_data.values[i,j]) for j in range(0,4)])

In [25]:
records

[['5.1', '3.5', '1.4', '0.2'],
 ['4.9', '3.0', '1.4', '0.2'],
 ['4.7', '3.2', '1.3', '0.2'],
 ['4.6', '3.1', '1.5', '0.2'],
 ['5.0', '3.6', '1.4', '0.2'],
 ['5.4', '3.9', '1.7', '0.4'],
 ['4.6', '3.4', '1.4', '0.3'],
 ['5.0', '3.4', '1.5', '0.2'],
 ['4.4', '2.9', '1.4', '0.2'],
 ['4.9', '3.1', '1.5', '0.1'],
 ['5.4', '3.7', '1.5', '0.2'],
 ['4.8', '3.4', '1.6', '0.2'],
 ['4.8', '3.0', '1.4', '0.1'],
 ['4.3', '3.0', '1.1', '0.1'],
 ['5.8', '4.0', '1.2', '0.2'],
 ['5.7', '4.4', '1.5', '0.4'],
 ['5.4', '3.9', '1.3', '0.4'],
 ['5.1', '3.5', '1.4', '0.3'],
 ['5.7', '3.8', '1.7', '0.3'],
 ['5.1', '3.8', '1.5', '0.3'],
 ['5.4', '3.4', '1.7', '0.2'],
 ['5.1', '3.7', '1.5', '0.4']]

In [26]:
association_rules = apriori(records, min_support=0.50, min_confidence=0.7, min_lift=1.2, min_length=2)
association_results = list(association_rules)

In [27]:
print(len(association_results))

0

In [28]:
print(association_results)

[]